# --- Python (evita lixo de cache/bytecode no Git) ---
__pycache__/
*.pyc

# Se você usar virtualenv local (não é o seu caso dentro do container, mas pode existir no host)
.venv/
venv/

# --- Segredos / env ---
.env

# --- Terraform (estado/local cache) ---
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform vars (se você tiver)
*.tfvars
*.tfvars.json

# Logs / temporários
*.log
.DS_Store

.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
*.tfvars
*.tfvars.json
